*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;

}
.navbar-s1{
    display: flex;
 align-items: center;
    flex-grow: 1;
    gap: 15px;

}
.navbar-s1 p{
    
  
    text-align: center;
    border-radius: 15px;
    padding: 5px;
}
.navbar-s1 button{
    border: none;
    background-color: white;
}
.navbar-s1__title{
    color: #a435f0;

}
.navbar-s2{
    padding: 10px;
    border:solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-s2 input
{
    border: none;
    width: 400px;
    height: 20px;
}
.navbar-s2 input:focus{
    outline: none;
}
.navbar-s3{
    display: flex;
    padding: 10px;
    gap: 13px;
    align-items: center;
}
.expbtn:hover{
      
}